<h1>{{title}}</h1>
<form method="POST" class="name" novalidate>
  <div class="form-field">
    <input type="text" name="name" placeholder="Category Name">
  </div>
  <div class="form-field">
    <input type="submit" class="button">
  </div>
</form>