<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <script src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js'></script>
  </head>
  <body>
    <header id="site-header" class="">
      <h1>Skate Shop</h1>
    </header>
    <main>

      <nav class="sidebar-nav">
        <ul>
          <li>
            <a href="/catalog">Home</a>
          </li>
          <li>
            <a href="/catalog/product">Products</a>
          </li>
          <li>
            <a href="/catalog/category">Categories</a>
          </li>
          <li>
            <a href="/catalog/brand">Brands</a>
          </li>
          <hr>
          <li>
            <a href="/catalog/product/create">Create new Product</a>
          </li>
          <li>
            <a href="/catalog/category/create">Create new Category</a>
          </li>
          <li>
            <a href="/catalog/brand/create">Create new Brand</a>
          </li>
        </ul>
      </nav>
    </main>

    {{{body}}}
  </body>
</html>

